<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805763955875-r8e357v13mfgkg1b86qead4mve4v4pf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805763955875-r8e357v13mfgkg1b86qead4mve4v4pf4</string>
	<key>API_KEY</key>
	<string>AIzaSyB5bJZzS-PRzqi459RwoBIocJaeM6CvMaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>805763955875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onfastt</string>
	<key>PROJECT_ID</key>
	<string>onfast-fbca7</string>
	<key>STORAGE_BUCKET</key>
	<string>onfast-fbca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805763955875:ios:c2672589623ef1892e1316</string>
</dict>
</plist>