<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3XXt_w7BKTtCJ2RR1qXBRrhdUb_EcpK8</string>
	<key>GCM_SENDER_ID</key>
	<string>536131324728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>onFast.com</string>
	<key>PROJECT_ID</key>
	<string>onfast-d9582</string>
	<key>STORAGE_BUCKET</key>
	<string>onfast-d9582.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536131324728:ios:a9ad3c0aafe50a12984fcd</string>
</dict>
</plist>